*,
*:before,
*:after {
  box-sizing: border-box;
}
/*Estilo fondo */
body {
  background-image: url("../img/fondo404.jpeg");
}

/* Estilo audio */
audio {
  width: 16%;
  height: 24px;
}

/* Estilos y animaciones de los h1 */

h1 {
  color: #ffdd55;
  font-size: 5em;
}
.disapear {
  animation: disapears 1s ease infinite;
}

span#digit1 {
  animation-delay: 0.2s;
}

span#digit2 {
  animation-delay: 0.4s;
}

span#digit3 {
  animation-delay: 0.5s;
}

span#digit4 {
  animation-delay: 0.6s;
}

@keyframes disapears {
  from {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
 /* Estilos contador */
#count {
  color: #ffdd55;
  font-size: 2em;
}

/* Estilos y animaciones h2 */
h2 {
  color: #ffdd55;
  font-size: 2em;
  width: 40%;
}
.text {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.advice {
  color: #ffdd55;
  font-family: "raleway", sans-serif;
  text-align: center;
  visibility: hidden;
  animation: parpadeo 6s normal 2s forwards;
}

@keyframes parpadeo {
  0% {
    transform: scale(0);
    visibility: visible;
  }
  100% {
    transform: scale(1.5);
    visibility: visible;
  }
}

/*Estilo y animaciones de la nave y bola*/

.efectos {
  margin-top: -30%;
}

.bolaLaserf {
  display: flex;
}
.bolaLaser {
  width: 300px;
  height: 300px;
  border-radius: 100%;
  background-color: greenyellow;
  margin-top: -29.2%;
  margin-left: 7%;
  visibility: hidden;
  animation: aparicion 6s normal 7s;
}

@keyframes aparicion {
  0% { 
    transform: scale(0);
    visibility: visible;
  }
  75% {
    transform: scale(1);
    visibility: visible;
  }
  100% {
    transform: translate(550px, -730px);
  }
}

/* Estilos y animacion de la lluvia de misiles */
.misiles div {
  position: absolute;
  top: -200px;
  animation-name: lluvia;
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-timing-function: ease-in;
  animation-delay: 14s;
}
.misil {
  width: 25px;
  height: 200px;
  border-radius: 100%;
  background-color: greenyellow;
}

div#m1 {
  left: 5%;
  animation-duration: 5s;
}
div#m2 {
  left: 15%;
  animation-duration: 7s;
}
div#m3 {
  left: 25%;
  animation-duration: 9s;
}
div#m4 {
  left: 35%;
  animation-duration: 6s;
}
div#m5 {
  left: 45%;
  animation-duration: 5s;
}
div#m6 {
  left: 55%;
  animation-duration: 9s;
}
div#m7 {
  left: 65%;
  animation-duration: 6s;
}
div#m8 {
  left: 75%;
  animation-duration: 8s;
}
div#m9 {
  left: 85%;
  animation-duration: 7s;
}
div#m10 {
  left: 95%;
  animation-duration: 5s;
}

@keyframes lluvia {
  from {
    top: -200px;
  }
  to {
    top: 400px;
  }
}

/*Estilo y animacion del Terreno y BB8*/
.terreno {
  background: lightgrey;
  height: 10%;
  position: absolute;
  width: 100%;
  z-index: -1;
  right: 0;
  bottom: 0;
  left: 0;
}

.bb8 {
  position: absolute;
  margin-left: -70px;
  width: 140px;
  bottom: 5%;
  left: 0;
}

.antennas {
  position: absolute;
  transition: left 0.6s;
  left: 22%;
}
.antennas.right {
  left: 0%;
}

.antenna {
  background: #e0d2be;
  position: absolute;
  width: 2px;
}
.antenna.short {
  height: 20px;
  top: -60px;
  left: 50px;
}
.antenna.long {
  border-top: 6px solid #020204;
  border-bottom: 6px solid #020204;
  height: 36px;
  top: -78px;
  left: 56px;
}

.head {
  background: #e0d2be;
  border-radius: 90px 90px 14px 14px;
  -moz-border-radius: 90px 90px 14px 14px;
  -webkit-border-radius: 90px 90px 14px 14px;
  height: 56px;
  margin-left: -45px;
  overflow: hidden;
  position: absolute;
  width: 90px;
  z-index: 1;
  top: -46px;
  left: 50%;
}
.head .stripe {
  position: absolute;
  width: 100%;
}
.head .stripe.one {
  background: #999;
  height: 6px;
  opacity: 0.8;
  z-index: 1;
  top: 6px;
}
.head .stripe.two {
  background: #cd7640;
  height: 4px;
  top: 17px;
}
.head .stripe.three {
  background: #999;
  height: 4px;
  opacity: 0.5;
  bottom: 3px;
}
.head .eyes {
  display: block;
  height: 100%;
  position: absolute;
  width: 100%;
  transition: left 0.6s;
  left: 0%;
}
.head .eyes.right {
  left: 36%;
}
.head .eye {
  border-radius: 50%;
  display: block;
  position: absolute;
}
.head .eye.one {
  background: #020204;
  border: 4px solid #e0d2be;
  height: 30px;
  width: 30px;
  top: 12px;
  left: 12%;
}
.head .eye.one:after {
  background: white;
  border-radius: 50%;
  content: "";
  display: block;
  height: 3px;
  position: absolute;
  width: 3px;
  top: 4px;
  right: 4px;
}
.head .eye.two {
  background: #e0d2be;
  border: 1px solid #020204;
  height: 16px;
  width: 16px;
  top: 30px;
  left: 40%;
}
.head .eye.two:after {
  background: #020204;
  border-radius: 50%;
  content: "";
  display: block;
  height: 10px;
  position: absolute;
  width: 10px;
  top: 2px;
  left: 2px;
}

.ball {
  background: #d1c3ad;
  border-radius: 50%;
  height: 140px;
  overflow: hidden;
  position: relative;
  width: 140px;
}

.lines {
  border: 2px solid #b19669;
  border-radius: 50%;
  height: 400px;
  opacity: 0.6;
  position: absolute;
  width: 400px;
}
.lines.two {
  top: -10px;
  left: -250px;
}

.ring {
  background: #cd7640;
  border-radius: 50%;
  height: 70px;
  margin-left: -35px;
  position: absolute;
  width: 70px;
}
.ring:after {
  background: #d1c3ad;
  border-radius: 50%;
  content: "";
  display: block;
  height: 70%;
  margin-top: -35%;
  margin-left: -35%;
  position: absolute;
  width: 70%;
  top: 50%;
  left: 50%;
}
.ring.one {
  margin-left: -40px;
  height: 80px;
  width: 90px;
  top: 6%;
  left: 50%;
}
.ring.two {
  height: 38px;
  width: 76px;
  -ms-transform: rotate(36deg);
  -webkit-transform: rotate(36deg);
  transform: rotate(36deg);
  top: 70%;
  left: 18%;
}
.ring.two:after {
  top: 100%;
}
.ring.three {
  height: 30px;
  -ms-transform: rotate(-50deg);
  -webkit-transform: rotate(-50deg);
  transform: rotate(-50deg);
  top: 66%;
  left: 90%;
}
.ring.three:after {
  top: 110%;
}

.shadow {
  background: #3a271c;
  border-radius: 50%;
  height: 23.3333333333px;
  opacity: 0.7;
  position: absolute;
  width: 140px;
  z-index: -1;
  left: 5px;
  bottom: -8px;
}

.shameless {
  position: absolute;
  bottom: 10px;
  right: 10px;
}

a {
  color: #333;
  font-family: "Raleway", sans-serif;
  text-decoration: none;
}

a:visited {
  color: #333;
}

a:hover,
a:focus {
  color: white;
}
@media only screen and (max-width: 600px) {
  #m2,#m4,#m6,#m8,#m10{
    display: none;
  }
  .efectos{
    margin-top: -100%;
  }
  .bolaLaser{
    margin-top: -50%;
    margin-left: 0%;
  }
  audio{
    visibility: hidden;
  }
  .nave{
    height: 200px;
    margin-top: 100%;
  }
  h1{
    font-size: 2em;
  }
  h2{
    font-size: 1em;
  }
}
